body {
	font-family: "Tahoma";
}

a {
	text-decoration: none;
}


}
.main-header {
	margin-top: 0;
	text-align: center;
	font-family: "Tahoma";
	
}
.navbar {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	list-style: none;
	padding: 0;
}
.button:hover {
	background: #f4f4f4;
}
.button {
	background: #fff;
	color: black;
	text-align: center;
	padding: 10px 0;
}

h1 {
	font-size: 65px;
}

.team {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.about {
	background: url(../images/bukall.png);
	color: white;
	height: 600px;
	padding: 20px;
	
}

#pat {
	font-size: 13px;
	
}



.footer {
	height: 20px;
	color: black;
}

.account {
	display: grid;
	list-style: none;
	grid-gap: 0; 
	grid-template-columns: 1fr 1fr;	
}

