body {
	font-family: "Tahoma";
	
}
a{
	text-decoration: none
}

h1 {
	font-size: 65px;
}



.main-header {
	margin-top: 0;
	text-align: center;
	font-family: "Tahoma";
	
}
.navbar {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	list-style: none;
	height: 25px;
	padding: 0;
}
.button:hover {
	background: #f4f4f4;
}
.button {
	background: #fff;
	color: black;
	text-align: center;
	padding: 10px 0;
}

.container {
	background:url(../images/bayan.png);
	color: white;
	padding: 10px;
	
}

.footer {
	height: 20px;
	
}
